 .u-section-1 {
  background-image: none;
  
}

.u-section-1 .u-sheet-1 {
  min-height: 1017px;
}

.u-section-1 .u-group-1 {
  width: 822px;
  min-height: 740px;
  margin: 80px auto 0 36px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 820px;
  height: 758px;
  margin: -38px auto 0 -60px;
}

.u-section-1 .u-image-1 {
  width: 512px;
  height: 512px;
  background-image: url("images/IMG_20200329_165453-min.jpg");
  background-position: 50% 16.12%;
  filter: brightness(0.95);
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
  margin: -628px auto 0 111px;
}

.u-section-1 .u-group-2 {
  background-image: none;
  width: 570px;
  min-height: 370px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  
  
  height: auto;
  margin: -253px 0 60px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 24px 40px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 54px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 21px 0 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 1px;
  margin: 21px 28px 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-1 .u-group-1 {
    width: 813px;
    min-height: 732px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-2 {
    width: 542px;
    margin-top: -276px;
    height: auto;
  }

  .u-section-1 .u-social-icons-1 {
    width: 200px;
    min-width: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 535px;
    height: 535px;
    margin-left: 52px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-shape-1 {
    height: 597px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 447px;
    height: 447px;
    margin-top: -534px;
    margin-left: 28px;
  }

  .u-section-1 .u-group-2 {
    width: 437px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}display: None